<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>ESD Search</title>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/foundation.css" />

    <style>
        #state_label {
            width:33%;
        }
        #num_cities {

        }
    </style>

</head>
<body >
<section ng-controller="ResponseController as resp">
    <form id="searchForm">
        <div class="row" >
            <div class="medium-3 columns">
                <label id="state_label">State
                    <select name="state" id="state" ng-model="resp.stateSelect" ng-change="resp.getCities(resp.stateSelect)">
                        <option value="" selected="selected">NY</option>
                        <option ng-repeat="state in resp.states" value="{{state}}">{{state}}</option>
                    </select>
                </label>
                <label>City
                    <select name="town" id="town" ng-model="resp.citySelect" ng-change="resp.getOrgs()">
                        <option value="">--Please Select A City--</option>
                        <option ng-repeat="city in resp.cities" ng-click="" value="{{city}}">{{city}}</option>
                    </select>
                </label>
                <!--<label>Organization Name
                    <input type="text" name="name" id="name" />
                </label>-->
            </div>
        </div>
    </form>
    <div id="results_disp">
        <ul>
            <li ng-repeat="org in resp.orgsList">{{org.name}}</li>
        </ul>
    </div>
</section>

<script src="js/vendor/jquery.min.js"></script>
<!--<script src="js/vendor/what-input.min.js"></script>
<script src="js/foundation.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/app.js"></script>
</body>
</html>