<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>ESD Search</title>
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/jquery.modal.css" /> <!--modal plugin css-->
    <link rel="stylesheet" href="css/easy-tabs.css" /> <!--jquery tabs css-->

    <style>
        #state_label {
            width:33%;
        }
        #adv_search {
            display: none;
        }
        #results_disp {
            display: none;
        }
        #tabs_modal {
            display: none;
        }
        .orgRow {
            cursor: pointer;
        }
        .sortable {
            cursor:pointer;
        }
        .modal {
            position: absolute;
            width: 35%;
            left: 25%;
            top: 25%;
        }
        #loc-left {
            float:left;
            width:33%;
        }
        #map {
            height:450PX;
        }
    </style>

</head>
<body ng-controller="ResponseController as resp">
<section >
    <div class="row" >
        <div class="medium-3 columns">
            <form id="searchForm">
            <label id="state_label">State
                <select name="state" id="state" ng-model="resp.stateSelect" ng-change="resp.getCities(resp.stateSelect)">
                    <option value="" selected="selected">NY</option>
                    <option ng-repeat="state in resp.states" value="{{state}}">{{state}}</option>
                </select>
            </label>
            <label>City
                <select name="town" id="town" ng-model="resp.citySelect" ng-change="resp.getOrgs()">
                    <option value="">--Please Select A City--</option>
                    <option ng-repeat="city in resp.cities" value="{{city}}">{{city}}</option>
                </select>
            </label>
            </form>
        </div>
        <div class="medium-3 columns">
            <form id="adv_search">
                <label>Organization Name
                    <input type="text" name="name" id="name" ng-model="nameQuery"/>
                </label>
                <label>County
                    <input type="text" ng-model="countyQuery" />
                </label>
                <label>Zip
                    <input type="text" ng-model="zipQuery" />
                </label>
                <label>Organization Type
                    <select ng-model="orgQuery">
                        <option value="">--Please Select Org. Type--</option>
                        <option ng-repeat="type in resp.optList" value="{{type}}">{{type}}</option>
                    </select>
                </label>
            </form>
        </div>
    </div>

    <div id="results_disp" class="row">
        <table>
            <tr>
                <th><em class="sortable" ng-click="sortBy = 'type'; sortRev = !sortRev;">Type</em></th>
                <th><em class="sortable" ng-click="sortBy = 'name'; sortRev = !sortRev;">Name</em></th>
                <th>City</th>
                <th>State</th>
                <th><em class="sortable" ng-click="sortBy = 'zip'; sortRev = !sortRev;">Zip</em></th>
                <th><em class="sortable" ng-click="sortBy = 'county'; sortRev = !sortRev;">County</em></th>
            </tr>
            <tr ng-repeat="org in resp.orgsList | filter:{name:nameQuery, county:countyQuery, zip:zipQuery, type:orgQuery} | orderBy: sortBy:sortRev"
                id="{{org.orgId}}" ng-click="resp.getTabs(org.orgId)" class="orgRow">

                    <td>{{org.type}}</td>
                    <td>{{org.name}}</td>
                    <td>{{org.city}}</td>
                    <td>{{org.state}}</td>
                    <td>{{org.zip}}</td>
                    <td>{{org.county}}</td>
            </tr>
        </table>
    </div>
    <div id="tabs_modal" class="tab-container" >
        <ul class="etabs">
            <li ng-repeat="tab in resp.tabs" class="tab"><a href="#tabs-1" ng-click="resp.getTabInfo(tab)">{{tab}}</a></li>
        </ul>

        <div id="tabs-1">
            <div ng-show="resp.tab == 'General'">
               <!-- <p ng-model="orgName"><bold>Description:</bold> {{resp.tabInfo.description}}</p>-->
                <table>
                    <tbody>
                        <tr ng-repeat="(key, val) in resp.tabInfo"><td><strong>{{key}}: </strong></td><td>{{val}}</td></tr>
                    </tbody>
                </table>
            </div>

            <div ng-show="resp.tab == 'Locations'">
                <div id="loc-left">
                    <label>Choose Location:
                        <select  ng-model="locQuery" ng-change="resp.setMap(0,0,locQuery)">
                            <option ng-repeat="loc in resp.locInfo" value="{{loc.site}}">{{loc.type}}</option>
                        </select>
                    </label>
                    <input ng-repeat-start="loc in resp.locInfo" type="hidden" id="hidLat" ng-model="lat" value="{{loc.lat}}" />
                    <input type="hidden" ng-model="lon" value="{{loc.long}}" id="hidLon"/>
                    <table ng-repeat-end ng-hide="loc.site != locQuery">
                        <tbody>
                            <tr ng-repeat="(key, val) in loc" ng-hide="val == null || val == 'null' || val == ''"><td><strong>{{key}}</strong></td><td>{{val}}</td></tr>
                        </tbody>
                    </table>
                </div>
                <div id="map"></div>
            </div>

        </div>
    </div>
</section>

<script src="js/vendor/jquery.min.js"></script>
<script src="js/vendor/jquery.modal.min.js"></script> <!--jquery modal plugin-->
<script src="js/vendor/jquery.easytabs.min.js"></script> <!--jquery tabs plugin-->
<!--<script src="js/vendor/what-input.min.js"></script>
<script src="js/foundation.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/app.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWBj2dhI0OPE1jTgK_7vCC1sNDL_F7GIA&"></script>


</body>
</html>